@charset "UTF-8";
/* CSS Document */


ol{
			margin-left: 7%
			
		}
	
		
input {
			margin-left: 5%;
			margin-top: 20%;
			font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
			font-style: bold;
				
}
		
label{
			margin-left: 5%;
			margin-top: 5%;
			font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
			font-size: 50px;
		}


textarea{
	
			margin-top: 20%;
			margin-left: 5%;
			font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
			font-style: oblique;

}



progress{
	
	margin-top: 20%;
	margin-left: 5%;
	font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
	font-style: oblique;
	
}


meter{
	
	margin-top: 20%;
	margin-left: 5%;
	
}
		

fieldset{
	
	width: 48%;
	margin-left: 5%;
	margin-top: 20%;
	font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
	font-style: oblique;

	
	
}
		

button{
	
	width: 70px;
	height: 40px;
	font-size: 16px;
	font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
	border-radius: 14px;
   	background-color: darkcyan;
	
	margin-top: 5%;
	margin-left: 65%;
	margin-bottom: 10%;
	
}
		
		
		
	:required + label {
  color: #AD6E6E;
}

:optional + label {
  color: #607CA8;
} 

:invalid + label {
  font-size: 18px;
  font-style: italic;
}
		
input[type="text"]:disabled {
  background: #AD6E6E;

}
	
	input:default + label {
  font-style: italic;
}
input:checked + label { 
  color: #AD6E6E; 
  font-weight: bold;
}
input:indeterminate + label { 
  background-color: #FFE3E4; 
}
progress:indeterminate {
  outline: 2px green dashed;
}
