@charset "UTF-8";
/* CSS Document */



#div1{
	
	position: absolute;
	background-color: #0093CD;
	width: 70px;
	height: 70px;
	border-radius: 120px;
	margin-top: 490px;
	margin-left: 700px;
	
}

#div2{

	position: absolute;
	background-color: #0093CD;
	width: 80px;
	height: 80px;
	border-radius: 130px;
	margin-top: 640px;
	margin-left: 700px;
	
}

#div3{

	position: absolute;
	background-color: #0093CD;
	width: 90px;
	height: 90px;
	border-radius: 140px;
	margin-top: 830px;
	margin-left: 700px;
	
}



h1{
	position: fixed;
	font-size: 200px;
	font-family: "Libre Baskerville Bold", Ovo, "Ibarra Real Nova Bold", "serif";
	margin-left: 200px;
	margin-top: 60px;
	color: coral;
}


body{
	height: 4000px;
	background-color: white;
}